@font-face {
  font-family: "fonte-arredondada";
  src: url(./nevermind-rounded/NeverMindRounded/NeverMindRounded-Bold.ttf);
}
html,
body {
  margin: 0%;
  padding: 0%;
  background: linear-gradient(90deg, rgb(255, 255, 255), 20%, gray);
  /* background-image: url(./Img/fundo-port.png);
    background-repeat: no-repeat;
    background-size: cover; */
}

.content,
header {
  position: relative;
  max-width: 1500px;
}

.title {
  position: relative;
  margin-left: 3.5%;
  display: inline;
  font-family: "fonte-arredondada";
  color: rgb(0, 81, 255);
}

.title::before {
  content: ".";
  font-size: 55px;
  color: rgb(0, 89, 255);
}

.title:hover {
  color: rgb(160, 160, 160);
}
.title:hover:before {
  color: rgb(160, 160, 160);
}

ul {
  display: inline;
  font-family: "fonte-arredondada";
  position: relative;
  left: 10%;
  list-style: none;
}

.l1 {
  margin-left: 7%;
}

li {
  display: inline-block;
  margin-left: 3%;
  font-size: 20px;
  cursor: pointer;
}

li:hover {
  color: rgb(0, 81, 255);
  padding: 0.1%;
}

.link {
  text-decoration: none;
  color: black;
}

.gitHub {
  position: relative;
  left: 30%;
  top: 10px;
}
.linkedin {
  position: relative;
  left: 32%;
  top: 10px;
  border-radius: 5px;
}
